*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    width: 99vw;
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: 'Gowun Dodum', sans-serif;
    color: rgb(90, 86, 86);

    background-image: linear-gradient(rgb(216, 206, 231)(204, 204, 204), white);
}

header
{
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1
{
    font-size: 60px;
    color: rgb(33, 101, 102);
}

h2
{
    font-size: 30px;
    font-weight: normal;
}
main
{
    flex-grow: 1;

    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.input
{
    border: none;
    border-bottom: solid 0.5px rgb(33, 101, 102);
    outline: rgb(108, 196, 197);

    height: 30px;

    font-family: 'Gowun Dodum', sans-serif;

    width: 100%;
    margin-bottom: 10px;
}

select
{
    border: none;
    outline: none;
    overflow: hidden;

    font-family: 'Gowun Dodum', sans-serif;
}

.labelImportante
{
    color: rgb(33, 101, 102);
    font-weight: bold;
}

.mainResultado
{
    display: flex;
    flex-direction: column;

    height: 70vh;

    margin: 50px;

    box-shadow: 0px 2px 15px rgb(188, 241, 228), 0px 2px 15px rgb(214, 241, 235);
    border-radius: 5px;
    padding: 30px;
    background-color: white;

    justify-content: space-around;
}

footer
{
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}

form
{
    display: flex;
    flex-direction: column;
    

    box-shadow: 0px 2px 15px rgb(188, 241, 228), 0px 2px 15px rgb(214, 241, 235);
    border-radius: 5px;
    padding: 30px;
    background-color: white;

    width: auto;

    gap: 20px;
}

.titulo
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


button
{
    width: 100%;
    background-color: transparent;
    border: none;
    box-shadow: 0px 2px 15px rgb(188, 241, 228);
    /* border: 1px solid rgb(160, 190, 189); */
    height: 30px;

    font-size: 20px;
    transition: .2s;
    cursor: pointer;
    font-family: 'Gowun Dodum', sans-serif;
}

button:hover
{
    box-shadow: 0px 0px 15px rgb(156, 223, 224);
}

em
{
    font-style: normal;
    color: rgb(33, 101, 102);
    font-weight: bold;
}

.informacoes
{
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;
}

.resposta p
{
    font-size: 25px;
}

a
{
    text-decoration: none;
    color: rgb(33, 101, 102);
    font-weight: bold;
}